openapi: 3.1.0
info:
  title: Keygen API
  summary: Keygen is an open, source-available software licensing and distribution API, built for developers, by developers.
  version: 1.0.0
  termsOfService: https://keygen.sh/terms
  contact:
    name: Keygen
    url: https://keygen.sh
    email: support@keygen.sh
  license:
    name: Elastic License v2.0
    url: https://keygen.sh/license
  description: |
    The Keygen API is organized around REST principles. All requests **must** be made over TLS/SSL. We only support
    **TLS 1.2**, for security reasons. All API request and response bodies, including errors, are encoded in **JSON**
    format.

    The API has predictable, resource-oriented URLs, and uses standard HTTP response codes to indicate API errors. We
    use built-in HTTP features, like authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients.
    We support cross-origin resource sharing, allowing you to interact securely with our API from any client-facing
    software application.
servers:
  - url: https://api.keygen.sh/v1
    description: The official Keygen API server.
paths:
  /accounts/{account}/tokens:
    post:
      tags:
        - Tokens
      summary: Generate a token
      description: |
        Generate a new token resource for a user, using the user's email and password. Keygen does not store your tokens
        for security reasons. After a token is generated, it cannot be recovered if lost. The token will need to be
        revoked if lost, and a new token should be generated. Alternatively, the existing token can be regenerated
        (rolled).

        By default, user tokens expire in 2 weeks, and admin tokens do not expire. A custom expiry may be provided in
        the token generate request. If the user does not have a password, a token must be generated via
        [the user's token relationship](https://keygen.sh/docs/api/users/#users-tokens)

        To generate a token for a product, see the [product token relationship](https://keygen.sh/docs/api/products/#products-tokens).

        To generate a license token, see the [license token relationship](https://keygen.sh/docs/api/licenses/#licenses-relationships-activation-tokens).
      parameters:
        - $ref: "#/components/parameters/Account"
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [tokens]
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: An optional name for the token.
                        expiry:
                          type: string
                          format: date-time
                          description: The timestamp for when the token expires.
                        meta:
                          type: object
                          properties:
                            otp:
                              type: string
                              description: |
                                When the user has [a second factor](https://keygen.sh/docs/api/users/#second-factors)
                                enabled, an OTP code will be required. The expected format is a six-digit string, e.g.
                                `000000`.
                  required:
                    - type
      responses:
        "201":
          description: Token generated successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Token"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
      security:
        - BasicAuth: []
    get:
      tags:
        - Tokens
      summary: List all tokens
      description: |
        Returns a list of tokens. The tokens are returned sorted by creation date, with the most recent tokens appearing
        first. Resources are automatically scoped to the authenticated bearer e.g. when authenticated as a product, only
        tokens that belong to the specific product will be listed.
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
          description: A limit on the number of tokens to be returned.
        - name: bearer
          in: query
          description: Object containing the bearer's type and ID.
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
            properties:
              type:
                type: string
                enum:
                  - products
                  - licenses
                  - users
              id:
                type: string
            required:
              - type
              - id
      responses:
        "200":
          description: Tokens retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Token"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
                required:
                  - data
                  - links
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/tokens/{token}:
    get:
      tags:
        - Tokens
      summary: Retrieve a token
      description: Retrieves the details of an existing token.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: token
          in: path
          description: The identifier (UUID) of the token to be retrieved.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Token retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Token"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Tokens
      summary: Regenerate a token
      description: |
        Regenerate an existing token resource. This will replace the token attribute with a new secure token, and extend
        the token's expiry by 2 weeks from the current time.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: token
          in: path
          description: The identifier (UUID) of the token to be regenerated.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Token regenerated successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Token"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Tokens
      summary: Revoke a token
      description: |
        Permanently revokes a token. It cannot be undone. This action also immediately invalidates all sessions using
        the given token.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: token
          in: path
          description: The identifier (UUID) of the token to be revoked.
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Token revoked successfully
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/products:
    post:
      tags:
        - Products
      summary: Create a product
      description: Creates a new product resource.
      parameters:
        - $ref: "#/components/parameters/Account"
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [products]
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the product.
                        url:
                          type:
                            - string
                            - "null"
                          format: uri
                          description: A related URL for the product.
                        distributionStrategy:
                          type: string
                          enum:
                            - LICENSED
                            - OPEN
                            - CLOSED
                          default: LICENSED
                          description: The strategy for distributing releases.
                        platforms:
                          type: array
                          items:
                            type: string
                          description: An array of platforms the product supports.
                        metadata:
                          type: object
                          description: Object containing product metadata.
                          additionalProperties: true
                      required:
                        - name
                  required:
                    - type
                    - attributes
              required:
                - data
      responses:
        "201":
          description: Product created successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Product"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Products
      summary: List all products
      description: |
        Returns a list of products. The products are returned sorted by creation date, with the most recent products
        appearing first.
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
          description: A limit on the number of products to be returned.
      responses:
        "200":
          description: Products retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
                required:
                  - data
                  - links
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/products/{product}:
    get:
      tags:
        - Products
      summary: Retrieve a product
      description: Retrieves the details of an existing product.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: product
          in: path
          description: The identifier (UUID) of the product to be retrieved.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Product retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Product"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Products
      summary: Update a product
      description: |
        Updates the specified product resource by setting the values of the parameters passed. Any parameters not
        provided will be left unchanged.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: product
          in: path
          description: The identifier (UUID) of the product to be updated.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [products]
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the product.
                        url:
                          type: string
                          format: uri
                          description: A related URL for the product e.g. the marketing website, company website, etc.
                        distributionStrategy:
                          type: string
                          enum:
                            - LICENSED
                            - OPEN
                            - CLOSED
                          default: LICENSED
                          description: The strategy for distributing releases.
                        platforms:
                          type: array
                          items:
                            type: string
                          description: An array of platforms the product supports.
                        metadata:
                          type: object
                          description: Object containing product metadata.
                          additionalProperties: true
                  required:
                    - type
      responses:
        "200":
          description: Product updated successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Product"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Products
      summary: Delete a product
      description: |
        Permanently deletes a product. It cannot be undone. This action also immediately deletes any policies, licenses
        and machines that the product is associated with.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: product
          in: path
          description: The identifier (UUID) of the product to be deleted.
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Product deleted successfully
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/products/{product}/token:
    post:
      tags:
        - Products
      summary: Generate a product token
      description: Generates a new product token resource. Product tokens do not expire.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: product
          in: path
          description: The identifier (UUID) of the product to generate a token for.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [tokens]
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: An optional name for the token.
                        expiry:
                          type: string
                          format: date-time
                          description: The timestamp for when the token expires.
                  required:
                    - type
      responses:
        "200":
          description: Product token generated successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Token"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/entitlements:
    post:
      tags:
        - Entitlements
      summary: Create an entitlement
      description: Creates a new entitlement resource.
      parameters:
        - $ref: "#/components/parameters/Account"
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [entitlements]
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the entitlement.
                        code:
                          type: string
                          description: The unique code for the entitlement.
                        metadata:
                          type: object
                          description: Object containing entitlement metadata.
                          additionalProperties: true
                      required:
                        - name
                        - code
                  required:
                    - type
                    - attributes
              required:
                - data
      responses:
        "201":
          description: Entitlement created successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Entitlement"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Entitlements
      summary: List all entitlements
      description: |
        Returns a list of entitlements. The entitlements are returned sorted by creation date, with the most recent
        entitlements appearing first. Resources are automatically scoped to the authenticated bearer e.g. when
        authenticated as a license, only entitlements attached to that specific license will be listed.
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
          description: A limit on the number of entitlements to be returned.
      responses:
        "200":
          description: Entitlements retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Entitlement"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
                required:
                  - data
                  - links
  /accounts/{account}/entitlements/{entitlement}:
    get:
      tags:
        - Entitlements
      summary: Retrieve an entitlement
      description: Retrieves the details of an existing entitlement.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: entitlement
          in: path
          description: The identifier (UUID) of the entitlement to be retrieved.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Entitlement retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Entitlement"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Entitlements
      summary: Update an entitlement
      description: |
        Updates the specified entitlement resource by setting the values of the parameters passed. Any parameters not
        provided will be left unchanged.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: entitlement
          in: path
          description: The identifier (UUID) of the entitlement to be updated.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [entitlements]
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the entitlement.
                        code:
                          type: string
                          description: The unique code for the entitlement.
                        metadata:
                          type: object
                          description: Object containing entitlement metadata.
                          additionalProperties: true
                  required:
                    - type
      responses:
        "200":
          description: Entitlement updated successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Entitlement"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Entitlements
      summary: Delete an entitlement
      description: |
        Permanently deletes an entitlement. The entitlement will immediately be removed from all licenses and policies.
        It cannot be undone.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: entitlement
          in: path
          description: The identifier (UUID) of the entitlement to be deleted.
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Entitlement deleted successfully
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/groups:
    post:
      tags:
        - Groups
      summary: Create a group
      description: Creates a new group resource.
      parameters:
        - $ref: "#/components/parameters/Account"
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [groups]
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the group.
                        maxUsers:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: The maximum number of users the group can have, collectively.
                        maxLicenses:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: The maximum number of licenses the group can have, collectively.
                        maxMachines:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: The maximum number of machines the group can have, collectively.
                        metadata:
                          type: object
                          description: Object containing group metadata.
                          additionalProperties: true
                      required:
                        - name
                  required:
                    - type
                    - attributes
              required:
                - data
      responses:
        "201":
          description: Group created successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Group"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Groups
      summary: List all groups
      description: |
        Returns a list of groups. This will include all groups associated with the authenticated bearer, including
        groups they are an owner of, as well as groups they are a member of. The groups are returned sorted by creation
        date, with the most recent groups appearing first.
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
          description: A limit on the number of groups to be returned.
      responses:
        "200":
          description: Groups retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Group"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
                required:
                  - data
                  - links
  /accounts/{account}/groups/{group}:
    get:
      tags:
        - Groups
      summary: Retrieve a group
      description: Retrieves the details of an existing group.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: group
          in: path
          description: The identifier (UUID) of the group to be retrieved.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Group retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Group"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Groups
      summary: Update a group
      description: |
        Updates the specified group resource by setting the values of the parameters passed. Any parameters not provided
        will be left unchanged.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: group
          in: path
          description: The identifier (UUID) of the group to be updated.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [groups]
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the group.
                        maxUsers:
                          type: integer
                          format: int64
                          description: The maximum number of users the group can have, collectively.
                        maxLicenses:
                          type: integer
                          format: int64
                          description: The maximum number of licenses the group can have, collectively.
                        maxMachines:
                          type: integer
                          format: int64
                          description: The maximum number of machines the group can have, collectively.
                        metadata:
                          type: object
                          description: Object containing group metadata.
                          additionalProperties: true
                  required:
                    - type
      responses:
        "200":
          description: Group updated successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Group"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Groups
      summary: Delete a group
      description: |
        Permanently deletes a group. The group will immediately be removed from all users, licenses and machines. It
        cannot be undone.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: group
          in: path
          description: The identifier (UUID) of the group to be deleted.
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Group deleted successfully
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/policies:
    post:
      tags:
        - Policies
      summary: Create a policy
      description: Creates a new policy resource.
      parameters:
        - $ref: "#/components/parameters/Account"
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - policies
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the policy.
                        duration:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: The duration for the policy in seconds.
                        scheme:
                          type:
                            - string
                            - "null"
                          enum:
                            - ED25519_SIGN
                            - RSA_2048_PKCS1_PSS_SIGN_V2
                            - RSA_2048_PKCS1_SIGN_V2
                            - RSA_2048_PKCS1_ENCRYPT
                            - RSA_2048_JWT_RS256
                        strict:
                          type: boolean
                          default: false
                          description: |
                            When enabled, a license that implements the policy will be considered invalid if its machine
                            limit, machine core limit, or processes limit is surpassed.
                        floating:
                          type: boolean
                          default: false
                          description: |
                            When enabled, a license that implements the policy will be valid across multiple machines.
                        requireProductScope:
                          type: boolean
                          default: false
                          description: |
                            When enabled, validating a license that implements the policy will require a product scope
                            that matches the licenses's product relationship by its identifier (UUID).
                        requirePolicyScope:
                          type: boolean
                          default: false
                          description: |
                            When enabled, validating a license that implements the policy will require a policy scope
                            that matches the licenses's policy relationship by its identifier (UUID).
                        requireMachineScope:
                          type: boolean
                          default: false
                          description: |
                            When enabled, validating a license that implements the policy will require a machine scope
                            that matches at least 1 of the licenses's machine relationships by its identifier (UUID).
                        requireFingerprintScope:
                          type: boolean
                          default: false
                          description: |
                            When enabled, validating a license that implements the policy will require a fingerprint
                            scope that matches at least 1 of the licenses's machine relationships by its fingerprint.
                        requireUserScope:
                          type: boolean
                          default: false
                          description: |
                            When enabled, validating a license that implements the policy will require a user scope that
                            matches the license's user relationship.
                        requireChecksumScope:
                          type: boolean
                          default: false
                          description: |
                            When enabled, validating a license that implements the policy will require a checksum scope
                            to be provided, matching an accessible artifact for the license.
                        requireVersionScope:
                          type: boolean
                          default: false
                          description: |
                            When enabled, validating a license that implements the policy will require a version scope
                            to be provided, matching an accessible release for the license.
                        requireCheckIn:
                          type: boolean
                          default: false
                          description: |
                            When enabled, a license that implements the policy will require check-in at a predefined
                            interval to continue to pass validation i.e. if a license misses a check-in, it will be
                            invalidated.
                        checkInInterval:
                          type:
                            - string
                            - "null"
                          enum:
                            - day
                            - week
                            - month
                            - year
                          description: The frequency at which a license should check-in.
                        checkInIntervalCount:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: |
                            The number of intervals (specified in the check-in interval property) between each required
                            check-in.
                        usePool:
                          type: boolean
                          default: false
                          description: Whether or not to pull license keys from a finite pool of pre-determined keys.
                        maxMachines:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: |
                            The maximum number of machines a license implementing the policy can have associated with
                            it.
                        maxProcesses:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: |
                            The maximum number of machine processes a license implementing the policy can have
                            associated with it, also depending on the policy's leasing strategy.
                        maxCores:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: |
                            The maximum number of machine CPU cores a license implementing the policy can have
                            associated with it.
                        maxUses:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: The maximum number of uses a license implementing the policy can have.
                        protected:
                          type: boolean
                          description: Whether or not the policy is protected.
                        requireHeartbeat:
                          type: boolean
                          default: false
                          description: Whether or not the policy requires its machines to maintain a heartbeat.
                        heartbeatDuration:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: The heartbeat duration for the policy, in seconds.
                        heartbeatCullStrategy:
                          type: string
                          enum:
                            - DEACTIVATE_DEAD
                            - KEEP_DEAD
                          default: DEACTIVATE_DEAD
                          description: The strategy used for culling dead machines and processes.
                        heartbeatResurrectionStrategy:
                          type: string
                          enum:
                            - NO_REVIVE
                            - 1_MINUTE_REVIVE
                            - 2_MINUTE_REVIVE
                            - 5_MINUTE_REVIVE
                            - 10_MINUTE_REVIVE
                            - 15_MINUTE_REVIVE
                            - ALWAYS_REVIVE
                          default: NO_REVIVE
                          description: |
                            The strategy used for controlling whether or not dead machines and processes can be
                            resurrected shortly after death.
                        heartbeatBasis:
                          type: string
                          enum:
                            - FROM_CREATION
                            - FROM_FIRST_PING
                          description: Control when a machine's initial heartbeat is started.
                        machineUniquenessStrategy:
                          type: string
                          enum:
                            - UNIQUE_PER_ACCOUNT
                            - UNIQUE_PER_PRODUCT
                            - UNIQUE_PER_POLICY
                            - UNIQUE_PER_LICENSE
                          default: UNIQUE_PER_LICENSE
                          description: The uniqueness validation strategy for machine fingerprints.
                        machineMatchingStrategy:
                          type: string
                          enum:
                            - MATCH_ANY
                            - MATCH_TWO
                            - MATCH_MOST
                            - MATCH_ALL
                          default: MATCH_ANY
                          description: |
                            The matching strategy for machine fingerprints supplied during a license validation.
                        expirationStrategy:
                          type: string
                          enum:
                            - RESTRICT_ACCESS
                            - REVOKE_ACCESS
                            - MAINTAIN_ACCESS
                            - ALLOW_ACCESS
                          default: RESTRICT_ACCESS
                          description: |
                            The strategy for expired licenses during a license validation and when accessing releases.
                        expirationBasis:
                          type: string
                          enum:
                            - FROM_CREATION
                            - FROM_FIRST_VALIDATION
                            - FROM_FIRST_ACTIVATION
                            - FROM_FIRST_DOWNLOAD
                            - FROM_FIRST_USE
                          default: FROM_CREATION
                          description: Control when a license's initial expiry is set.
                        transferStrategy:
                          type: string
                          enum:
                            - RESET_EXPIRY
                            - KEEP_EXPIRY
                          default: KEEP_EXPIRY
                          description: Control whether a license's expiration is reset when transferred to this policy.
                        authenticationStrategy:
                          type: string
                          enum:
                            - TOKEN
                            - LICENSE
                            - MIXED
                            - NONE
                          default: TOKEN
                          description: The strategy used for authenticating as a license, for client-side integrations.
                        leasingStrategy:
                          type: string
                          enum:
                            - PER_MACHINE
                            - PER_LICENSE
                          default: PER_MACHINE
                          description: The strategy used for leasing machine processes.
                        overageStrategy:
                          type: string
                          enum:
                            - ALWAYS_ALLOW_OVERAGE
                            - ALLOW_1_25X_OVERAGE
                            - ALLOW_1_5X_OVERAGE
                            - ALLOW_2X_OVERAGE
                            - NO_OVERAGE
                          default: NO_OVERAGE
                          description: The strategy used for allowing machine, core and process overages.
                        metadata:
                          type: object
                          description: Object containing policy metadata.
                          additionalProperties: true
                      required:
                        - name
                    relationships:
                      type: object
                      properties:
                        product:
                          type: object
                          description: The product the policy is for.
                          properties:
                            data:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum: [products]
                                id:
                                  type: string
                              required:
                                - type
                                - id
                          required:
                            - data
                      required:
                        - product
                  required:
                    - type
                    - attributes
                    - relationships
              required:
                - data
      responses:
        "201":
          description: Policy created successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Policy"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Policies
      summary: List all policies
      description: |
        Returns a list of policies. The policies are returned sorted by creation date, with the most recent policies
        appearing first. Resources are automatically scoped to the authenticated bearer e.g. when authenticated as a
        product, only policies of that specific product will be listed.
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
          description: A limit on the number of policies to be returned.
        - name: product
          in: query
          description: The identifier (UUID) of the product to filter by.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Policies retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
                required:
                  - data
                  - links
  /accounts/{account}/policies/{policy}:
    get:
      tags:
        - Policies
      summary: Retrieve a policy
      description: Retrieves the details of an existing policy.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: policy
          in: path
          description: The identifier (UUID) of the policy to be retrieved.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Policy retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Policy"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Policies
      summary: Update a policy
      description: |
        Updates the specified policy resource by setting the values of the parameters passed. Any parameters not
        provided will be left unchanged. For example, if the `maxMachines` property is not provided, then the policy's
        `maxMachines` value will be left unchanged. However, if the `maxMachines` property is provided with a value of
        `null`, then the policy's `maxMachines` value will be updated to `null`.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: policy
          in: path
          description: The identifier (UUID) of the policy to be updated.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - policies
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the policy.
                        duration:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: The duration for the policy in seconds.
                        scheme:
                          type:
                            - string
                            - "null"
                          enum:
                            - ED25519_SIGN
                            - RSA_2048_PKCS1_PSS_SIGN_V2
                            - RSA_2048_PKCS1_SIGN_V2
                            - RSA_2048_PKCS1_ENCRYPT
                            - RSA_2048_JWT_RS256
                        strict:
                          type: boolean
                          description: |
                            When enabled, a license that implements the policy will be considered invalid if its machine
                            limit, machine core limit, or processes limit is surpassed.
                        floating:
                          type: boolean
                          description: |
                            When enabled, a license that implements the policy will be valid across multiple machines.
                        requireProductScope:
                          type: boolean
                          description: |
                            When enabled, validating a license that implements the policy will require a product scope
                            that matches the licenses's product relationship by its identifier (UUID).
                        requirePolicyScope:
                          type: boolean
                          description: |
                            When enabled, validating a license that implements the policy will require a policy scope
                            that matches the licenses's policy relationship by its identifier (UUID).
                        requireMachineScope:
                          type: boolean
                          description: |
                            When enabled, validating a license that implements the policy will require a machine scope
                            that matches at least 1 of the licenses's machine relationships by its identifier (UUID).
                        requireFingerprintScope:
                          type: boolean
                          description: |
                            When enabled, validating a license that implements the policy will require a fingerprint
                            scope that matches at least 1 of the licenses's machine relationships by its fingerprint.
                        requireUserScope:
                          type: boolean
                          description: |
                            When enabled, validating a license that implements the policy will require a user scope that
                            matches the license's user relationship.
                        requireChecksumScope:
                          type: boolean
                          description: |
                            When enabled, validating a license that implements the policy will require a checksum scope
                            to be provided, matching an accessible artifact for the license.
                        requireVersionScope:
                          type: boolean
                          description: |
                            When enabled, validating a license that implements the policy will require a version scope
                            to be provided, matching an accessible release for the license.
                        requireCheckIn:
                          type: boolean
                          default: false
                          description: |
                            When enabled, a license that implements the policy will require check-in at a predefined
                            interval to continue to pass validation i.e. if a license misses a check-in, it will be
                            invalidated.
                        checkInInterval:
                          type:
                            - string
                            - "null"
                          enum:
                            - day
                            - week
                            - month
                            - year
                          description: The frequency at which a license should check-in.
                        checkInIntervalCount:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: |
                            The number of intervals (specified in the check-in interval property) between each required
                            check-in.
                        maxMachines:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: |
                            The maximum number of machines a license implementing the policy can have associated with
                            it.
                        maxProcesses:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: |
                            The maximum number of machine processes a license implementing the policy can have
                            associated with it, also depending on the policy's leasing strategy.
                        maxCores:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: |
                            The maximum number of machine CPU cores a license implementing the policy can have
                            associated with it.
                        maxUses:
                          type:
                            - integer
                            - "null"
                          format: int64
                          description: The maximum number of uses a license implementing the policy can have.
                        protected:
                          type: boolean
                          description: Whether or not the policy is protected.
                        requireHeartbeat:
                          type: boolean
                          description: Whether or not the policy requires its machines to maintain a heartbeat.
                        heartbeatDuration:
                          type: integer
                          format: int64
                          description: The heartbeat duration for the policy, in seconds.
                        heartbeatCullStrategy:
                          type: string
                          enum:
                            - DEACTIVATE_DEAD
                            - KEEP_DEAD
                          description: The strategy used for culling dead machines and processes.
                        heartbeatResurrectionStrategy:
                          type: string
                          enum:
                            - NO_REVIVE
                            - 1_MINUTE_REVIVE
                            - 2_MINUTE_REVIVE
                            - 5_MINUTE_REVIVE
                            - 10_MINUTE_REVIVE
                            - 15_MINUTE_REVIVE
                            - ALWAYS_REVIVE
                          description: |
                            The strategy used for controlling whether or not dead machines and processes can be
                            resurrected shortly after death.
                        heartbeatBasis:
                          type: string
                          enum:
                            - FROM_CREATION
                            - FROM_FIRST_PING
                          description: Control when a machine's initial heartbeat is started.
                        machineUniquenessStrategy:
                          type: string
                          enum:
                            - UNIQUE_PER_ACCOUNT
                            - UNIQUE_PER_PRODUCT
                            - UNIQUE_PER_POLICY
                            - UNIQUE_PER_LICENSE
                          description: The uniqueness validation strategy for machine fingerprints.
                        machineMatchingStrategy:
                          type: string
                          enum:
                            - MATCH_ANY
                            - MATCH_TWO
                            - MATCH_MOST
                            - MATCH_ALL
                          description: |
                            The matching strategy for machine fingerprints supplied during a license validation.
                        expirationStrategy:
                          type: string
                          enum:
                            - RESTRICT_ACCESS
                            - REVOKE_ACCESS
                            - MAINTAIN_ACCESS
                            - ALLOW_ACCESS
                          description: |
                            The strategy for expired licenses during a license validation and when accessing releases.
                        expirationBasis:
                          type: string
                          enum:
                            - FROM_CREATION
                            - FROM_FIRST_VALIDATION
                            - FROM_FIRST_ACTIVATION
                            - FROM_FIRST_DOWNLOAD
                            - FROM_FIRST_USE
                          description: Control when a license's initial expiry is set.
                        transferStrategy:
                          type: string
                          enum:
                            - RESET_EXPIRY
                            - KEEP_EXPIRY
                          description: Control whether a license's expiration is reset when transferred to this policy.
                        authenticationStrategy:
                          type: string
                          enum:
                            - TOKEN
                            - LICENSE
                            - MIXED
                            - NONE
                          description: The strategy used for authenticating as a license, for client-side integrations.
                        leasingStrategy:
                          type: string
                          enum:
                            - PER_MACHINE
                            - PER_LICENSE
                          description: The strategy used for leasing machine processes.
                        overageStrategy:
                          type: string
                          enum:
                            - ALWAYS_ALLOW_OVERAGE
                            - ALLOW_1_25X_OVERAGE
                            - ALLOW_1_5X_OVERAGE
                            - ALLOW_2X_OVERAGE
                            - NO_OVERAGE
                          description: The strategy used for allowing machine, core and process overages.
                        metadata:
                          type: object
                          description: Object containing policy metadata.
                          additionalProperties: true
                  required:
                    - type
      responses:
        "200":
          description: Policy updated successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Policy"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Policies
      summary: Delete a policy
      description: |
        Permanently deletes a policy. It cannot be undone. This action also immediately deletes any licenses that the
        policy is associated with.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: policy
          in: path
          description: The identifier (UUID) of the policy to be deleted.
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Policy deleted successfully
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/policies/{policy}/pool:
    delete:
      tags:
        - Policies
      summary: Pop key from pool
      description: |
        Pop off (delete) a key from the policy's pool of pre-determined keys. The returned key is only available
        directly after a pop, similar to authentication tokens. This cannot be undone.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: policy
          in: path
          description: The identifier (UUID) of the policy to be retrieved.
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Policy pool key popped successfully
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/policies/{policy}/entitlements:
    post:
      tags:
        - Policies
      summary: Attach policy entitlements
      description: |
        Attach entitlements to a policy. This will immediately be taken into effect for all future license validations.
        Any license that implements the given policy will automatically possess all the policy's entitlements.

        **Below are the limitations to attaching an entitlement:**

        - You cannot attach an already attached entitlement.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: policy
          in: path
          description: The identifier (UUID) of the policy to be updated.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - entitlements
                      id:
                        type: string
                    required:
                      - type
                      - id
              required:
                - data
      responses:
        "201":
          description: Policy entitlements attached successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PolicyEntitlement"
        default:
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Policies
      summary: Detach policy entitlements
      description: |
        Detach entitlements from a policy. This will immediately be taken into effect for all future license
        validations.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: policy
          in: path
          description: The identifier (UUID) of the policy to be updated.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - entitlements
                      id:
                        type: string
                    required:
                      - type
                      - id
              required:
                - data
      responses:
        "204":
          description: Policy entitlements detached successfully
        default:
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Policies
      summary: List policy entitlements
      description: |
        Returns a list of entitlements attached to the policy. The entitlements are returned sorted by creation date,
        with the most recent entitlements appearing first.
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
          description: A limit on the number of entitlements to be returned.
        - name: policy
          in: path
          description: The identifier (UUID) of the policy to list entitlements for.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Policy entitlements retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Entitlement"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
                required:
                  - data
                  - links
  /accounts/{account}/users:
    post:
      tags:
        - Users
      summary: Create a user
      description: |
        Creates a new user resource. Users may be created with only an email address — no name or password is
        necessarily required. This can act as a way to associate an email address with a license, which can later be
        claimed and turned into a full user profile, if needed, using the password reset flow. This is particularly
        great for custom license recovery flows, where you may need to email a user their lost license keys.
      security:
        - {}
        - BearerToken: []
      parameters:
        - $ref: "#/components/parameters/Account"
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [users]
                    attributes:
                      type: object
                      properties:
                        firstName:
                          type: string
                          description: The first name of the user.
                        lastName:
                          type: string
                          description: The last name of the user.
                        email:
                          type: string
                          description: The unique email of the user.
                        password:
                          type: string
                          description: The password for the user.
                        role:
                          type: string
                          default: user
                          enum:
                            - user
                            - support-agent
                            - sales-agent
                            - developer
                            - read-only
                            - admin
                          description: The role of the user.
                        metadata:
                          type: object
                          description: Object containing user metadata.
                          additionalProperties: true
                      required:
                        - email
                    relationships:
                      type: object
                      properties:
                        group:
                          type: object
                          description: The group the user belongs to.
                          properties:
                            data:
                              type:
                                - object
                                - "null"
                              properties:
                                type:
                                  type: string
                                  enum: [groups]
                                id:
                                  type: string
                              required:
                                - type
                                - id
                          required:
                            - data
                  required:
                    - type
                    - attributes
              required:
                - data
      responses:
        "201":
          description: User created successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Users
      summary: List all users
      description: |
        Returns a list of users. The users are returned sorted by creation date, with the most recent users appearing
        first. Resources are automatically scoped to the authenticated bearer e.g. when authenticated as a product, only
        users associated with the specific product, through a license, will be listed in the results.
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
          description: A limit on the number of users to be returned.
        - name: status
          in: query
          description: The status of the user to filter by.
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
              - BANNED
        - name: assigned
          in: query
          description: Only show users assigned a license.
          required: false
          schema:
            type: boolean
        - name: product
          in: query
          description: The identifier (UUID) of the product to filter by.
          required: false
          schema:
            type: string
        - name: group
          in: query
          description: The identifier (UUID) of the group to filter by.
          required: false
          schema:
            type: string
        - name: roles
          in: query
          description: Array containing role names to filter by.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - user
                - support-agent
                - sales-agent
                - developer
                - read-only
                - admin
        - name: metadata
          in: query
          description: The metadata object to filter by.
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
            additionalProperties: true
      responses:
        "200":
          description: Users retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
                required:
                  - data
                  - links
  /accounts/{account}/users/{user}:
    get:
      tags:
        - Users
      summary: Retrieve a user
      description: |
        Retrieves the details of an existing user.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: user
          in: path
          description: The identifier (UUID) or email of the user to be retrieved.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Users
      summary: Update a user
      description: |
        Updates the specified user resource by setting the values of the parameters passed. Any parameters not provided
        will be left unchanged.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: user
          in: path
          description: The identifier (UUID) or email of the user to be updated.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [users]
                    attributes:
                      type: object
                      properties:
                        firstName:
                          type: string
                          description: The first name of the user.
                        lastName:
                          type: string
                          description: The last name of the user.
                        email:
                          type: string
                          description: The unique email of the user.
                        password:
                          type: string
                          description: The password for the user.
                        role:
                          type: string
                          default: user
                          enum:
                            - user
                            - support-agent
                            - sales-agent
                            - developer
                            - read-only
                            - admin
                          description: The role of the user.
                        metadata:
                          type: object
                          description: Object containing user metadata.
                          additionalProperties: true
                    relationships:
                      type: object
                      properties:
                        group:
                          type: object
                          description: The group the user belongs to.
                          properties:
                            data:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum: [groups]
                                id:
                                  type: string
                              required:
                                - type
                                - id
                          required:
                            - data
                  required:
                    - type
      responses:
        "200":
          description: User updated successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Users
      summary: Delete a user
      description: |
        Permanently deletes a user. It cannot be undone. This action also immediately deletes any licenses and machines
        that the user is associated with.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: user
          in: path
          description: The identifier (UUID) or email of the user to be deleted.
          required: true
          schema:
            type: string
      responses:
        "204":
          description: User deleted successfully
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/users/{user}/actions/update-password:
    post:
      tags:
        - Users
      summary: Update password
      description: |
        Action to update the user's password. A user's password can **only** be updated when authenticated as the given
        user. To update the user's password as an admin, use the [update user endpoint](https://keygen.sh/docs/api/users/#users-update).
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: user
          in: path
          description: The identifier (UUID) or email of the user to be retrieved.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                meta:
                  type: object
                  properties:
                    oldPassword:
                      type: string
                      description: The current password for the user.
                    newPassword:
                      type: string
                      minLength: 8
                      description: The new password for the user.
                  required:
                    - oldPassword
                    - newPassword
              required:
                - meta
      responses:
        "200":
          description: Password updated successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/users/{user}/actions/reset-password:
    post:
      tags:
        - Users
      summary: Reset password
      description: |
        Fulfill a user's password reset request. Password reset tokens expire 24 hours after [requesting the reset](https://keygen.sh/docs/api/passwords/#passwords-forgot).
        For an example of self-hosting your password reset flow, please [see this repo](https://github.com/keygen-sh/example-password-reset-fulfillment).
        Alternatively, you can use [our Zapier integration](https://zapier.com/apps/keygen/integrations).

        When the account is protected, and the user does not yet have a password set, they will not be able to set their
        initial password. Only admins may set the password for a passwordless user, unless the account is unprotected.
      security:
        - {}
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: user
          in: path
          description: The identifier (UUID) or email of the user to be retrieved.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                meta:
                  type: object
                  properties:
                    passwordResetToken:
                      type: string
                      description: The password reset token emailed to the user.
                    newPassword:
                      type: string
                      minLength: 8
                      description: The new password for the user.
                  required:
                    - passwordResetToken
                    - newPassword
              required:
                - meta
      responses:
        "200":
          description: Password reset successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/users/{user}/actions/ban:
    post:
      tags:
        - Users
      summary: Ban user
      description: |
        Action to ban a user. Banned users cannot authenticate with the API, and all licenses the user owns will have a
        `BANNED` status.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: user
          in: path
          description: The identifier (UUID) or email of the user to be retrieved.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User banned successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/users/{user}/actions/unban:
    post:
      tags:
        - Users
      summary: Unban user
      description: Action to unban a user.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: user
          in: path
          description: The identifier (UUID) or email of the user to be retrieved.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User unbanned successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/users/{user}/token:
    post:
      tags:
        - Users
      summary: Generate a user token
      description: |
        Generates a new user token resource. User tokens, by default, expire after 2 weeks. Though this can be adjusted
        via the `expiry` attribute. Typically, you'd want to generate a token using [the tokens resource](https://keygen.sh/docs/api/tokens/#tokens-generate),
        using the user's email and password. But this endpoint can be used by admins to generate a token on a user's behalf.

        This endpoint is particularly useful for generating tokens for a user without a password, or if you want to
        manage logins another way, e.g. server-side.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: user
          in: path
          description: The identifier (UUID) or email of the user to generate a token for.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [tokens]
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: An optional name for the token.
                        expiry:
                          type: string
                          format: date-time
                          description: The timestamp for when the token expires.
                  required:
                    - type
      responses:
        "200":
          description: User token generated successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Token"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/users/{user}/group:
    put:
      tags:
        - Users
      summary: Change group
      description: |
        Change a user's group relationship. This will immediately transfer the user resource to the new group. Changing
        the user's group will not retroactively change the group of its licenses or of its machines.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: user
          in: path
          description: The identifier (UUID) or email of the user to be updated.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [groups]
                    id:
                      type: string
                  required:
                    - type
                    - id
              required:
                - data
      responses:
        "200":
          description: Group changed successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
  /accounts/{account}/licenses:
    post:
      tags:
        - Licenses
      summary: Create a license
      description: Creates a new license resource.
      parameters:
        - $ref: "#/components/parameters/Account"
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [licenses]
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the license.
                        key:
                          type: string
                          description: A unique pre-determined key for the license.
                        expiry:
                          type:
                            - string
                            - "null"
                          format: date-time
                          description: When the license will expire.
                        maxMachines:
                          type: integer
                          format: int64
                          description: The maximum number of machines the license can have associated with it.
                        maxProcesses:
                          type: integer
                          format: int64
                          description: The maximum number of machine processes the license can have associated with it.
                        maxCores:
                          type: integer
                          format: int64
                          description: The maximum number of machine CPU cores the license can have associated with it.
                        maxUses:
                          type: integer
                          format: int64
                          description: The maximum number of uses the license is allowed to have.
                        protected:
                          type: boolean
                          description: Whether or not the license is protected.
                        suspended:
                          type: boolean
                          description: Whether or not the license is suspended.
                        metadata:
                          type: object
                          description: Object containing license metadata.
                          additionalProperties: true
                    relationships:
                      type: object
                      properties:
                        policy:
                          type: object
                          description: The policy to implement for the license.
                          properties:
                            data:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum: [policies]
                                id:
                                  type: string
                              required:
                                - type
                                - id
                          required:
                            - data
                        group:
                          type: object
                          description: The group the license belongs to.
                          properties:
                            data:
                              type:
                                - object
                                - "null"
                              properties:
                                type:
                                  type: string
                                  enum: [groups]
                                id:
                                  type: string
                              required:
                                - type
                                - id
                          required:
                            - data
                        user:
                          type: object
                          description: The user the license belongs to.
                          properties:
                            data:
                              type:
                                - object
                                - "null"
                              properties:
                                type:
                                  type: string
                                  enum: [users]
                                id:
                                  type: string
                              required:
                                - type
                                - id
                          required:
                            - data
                      required:
                        - policy
                        - group
                        - user
                  required:
                    - type
                    - relationships
              required:
                - data
      responses:
        "201":
          description: License created successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/License"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Licenses
      summary: List all licenses
      description: |
        Returns a list of licenses. The licenses are returned sorted by creation date, with the most recent licenses
        appearing first. Resources are automatically scoped to the authenticated bearer e.g. when authenticated as a
        user, only licenses of that specific user will be listed.
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
          description: A limit on the number of licenses to be returned.
        - name: expires
          in: query
          description: Object containing `in`, `before`, or `after` filters.
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
            properties:
              in:
                type: string
                description: |
                  The duration in seconds or ISO8601 duration to query licenses expiring within. Accepts a duration in
                  seconds e.g. 2629746, or an ISO8601 duration e.g. 30d.
              before:
                type: string
                format: date-time
                description: The ISO8601 timestamp to query licenses expiring before.
              after:
                type: string
                format: date-time
                description: The ISO8601 timestamp to query licenses expiring after.
        - name: status
          in: query
          description: The status of the license to filter by.
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
              - EXPIRING
              - EXPIRED
              - SUSPENDED
              - BANNED
        - name: unassigned
          in: query
          description: The user-relationship status of the license to filter by.
          required: false
          schema:
            type: boolean
        - name: product
          in: query
          description: The identifier (UUID) of the product to filter by.
          required: false
          schema:
            type: string
        - name: policy
          in: query
          description: The identifier (UUID) of the policy to filter by.
          required: false
          schema:
            type: string
        - name: user
          in: query
          description: The identifier (UUID) or email of the user to filter by.
          required: false
          schema:
            type: string
        - name: group
          in: query
          description: The identifier (UUID) of the group to filter by.
          required: false
          schema:
            type: string
        - name: machine
          in: query
          description: The identifier (UUID) of the machine to filter by.
          required: false
          schema:
            type: string
        - name: metadata
          in: query
          description: The metadata object to filter by.
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
            additionalProperties: true
      responses:
        "200":
          description: Licenses retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/License"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
                required:
                  - data
                  - links
  /accounts/{account}/licenses/{license}:
    get:
      tags:
        - Licenses
      summary: Retrieve a license
      description: Retrieves the details of an existing license.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: license
          in: path
          description: |
            The identifier (UUID) or URL-safe key of the license to be retrieved.
            key.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: License retrieved successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/License"
                required:
                  - data
        default:
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Licenses
      summary: Update a license
      description: |
        Updates the specified license resource by setting the values of the parameters passed. Any parameters not
        provided will be left unchanged.
      parameters:
        - $ref: "#/components/parameters/Account"
        - name: license
          in: path
          description: The identifier (UUID) or URL-safe key of the license to be updated.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
[...]
